{% extends 'youtube/base.html' %}
{% load staticfiles %}
{% load extra_filters %}

{% block content %}

    {% block title %} YouPy Sentiment Statistics {% endblock %}

    <div class="row">

        <div class="col-md-12">
            {% if chart %}
                <div class="col-md-7">
                    {{ chart.render|safe }}
                </div>
            {% endif %}

            {% if image %}
                <div class="col-md-7">
                    <img src="data:image/png;base64,{{ image|safe }}"/>
                </div>
            {% endif %}

            <div class="col-md-4 thumbnail">
                <img src="{% static "images/lin_reg.png" %}" alt="Tag cloud" width=600/>
            </div>
        </div>
        <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
        <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>

{% endblock %}