{% load staticfiles %}
{% load extra_filters %}
<div class="row">

        <div class="col-md-12">
            {% if charts %}
                {% for chart in charts %}
                <div class="col-md-6">
                    {{ chart.render|safe }}
                </div>
                {% endfor %}
            {% endif %}

            {% if labmtchart %}
                <div class="col-md-6">
                    {{ labmtchart.render|safe }}
                </div>
            {% endif %}

            {% if result %}
                <ul>
                    {% for entry in result %}
                        <div class="col-sm-6 col-md-4">

                        {% with sentiment=entry.content.text|sentiment %}

                            {% if sentiment > 0.0 %}
                                <div class="panel" style="background-color: #5cb85c">
                            {% elif sentiment < 0.0 %}
                                <div class="panel" style="background-color: #d9534f">
                            {% else %}
                                <div class="panel prut">
                            {% endif %}


                        {% endwith %}

                    <img src=" {{ entry.media.thumbnail.0.url }} ">

                    <div class="caption">

                        <ul class="list-unstyled list-inline">
                            <li>{{ entry.published.text }}</li>
                            <li>{{ entry.author.0.name.text }}</li>
                            <li>{{ entry.id.text }}</li>
                        </ul>
                        <p>{{ entry.content.text }}</p>

                        <p>{{ entry.content.text|sentiment }}</p>

                    </div>

                    </div>
                    </div>


                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>