{% extends 'youtube/base.html' %}
{% load extra_filters %}
{% load humanize %}

{% block title %} YouPy Video Search {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <form action="{% url 'search' %}" method="get" role="search">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">relevancy</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#published">published</a></li>
                            <li><a href="#viewCount">viewcount</a></li>
                            <li class="divider"></li>
                            <li><a href="#all">relevancy</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">

                    {% if link %}
                        <input type="hidden" name="compare" value="on" id="search_param">
                    {% endif %}
                    {% if link and video1 %}
                        <input type="hidden" name="video1" value="{{ video1 }}" id="search_param">
                    {% endif %}
                    <input type="text" class="form-control" name="q" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            {% if result %}
                <ul>
                    {% for entry in result %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail video-entry">
                                <img src=" {{ entry.media.thumbnail.0.url }} ">

                                <div class="caption">

                                    {% if compare and not video1 %}
                                        <h4><a href="


                                                {% url 'search' %}{{ link }}&video1={{ entry.id.text|getid }}">{{ entry.media.title.text }}</a>

                                        </h4>
                                    {% elif compare and video1 %}
                                        <h4>
                                            <a href="{% url 'videos' video1 entry.id.text|getid %}">{{ entry.media.title.text }}</a>

                                        </h4>
                                    {% else %}

                                        <h4>
                                            <a href="{% url 'video' entry.id.text|getid %}">{{ entry.media.title.text }}</a>

                                        </h4>

                                    {% endif %}



                                    <ul class="list-unstyled list-inline">

                                        <li><span class="glyphicon glyphicon-eye-open"
                                                  aria-hidden="true"></span> {{ entry.statistics.view_count|intcomma }}
                                        </li>
                                        <li><span class="glyphicon glyphicon-calendar"
                                                  aria-hidden="true"></span> {{ entry.published.text|getdate|naturaltime }}
                                        </li>

                                    </ul>
                                    <p>{{ entry.media.description.text }}</p>

                                </div>

                            </div>
                        </div>


                    {% endfor %}
                </ul>
                <nav>
                    <ul class="pagination">
                        {% for i in "xxxxxxxxxxxxxxxxxxxx" %}
                            <li {% if page == forloop.counter0|add:"1" %}class="active"{% endif %}><a
                                    href="{{ link }}&page={{ forloop.counter0|add:"1" }}">{{ forloop.counter0|add:"1" }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}