{% extends 'youtube/base.html' %}
{% load extra_filters %}
{% load humanize %}

{% block title %} YouPy Video Search {% endblock %}

{% block content %}


    {% get_search %}


    <div class="row">

        <div class="col-md-12">
            {% if result %}
                <ul>
                    {% for entry in result %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail video-entry">
                                <img src=" {{ entry.media.thumbnail.0.url }} ">

                                <div class="caption">

                                    {% if compare and not video1 %}
                                        <h4><a href="


                                                {% url 'search' %}{{ link }}&video1={{ entry.id.text|getid }}">{{ entry.media.title.text }}</a>

                                        </h4>
                                    {% elif compare and video1 %}
                                        <h4>
                                            <a href="{% url 'videos' video1 entry.id.text|getid %}">{{ entry.media.title.text }}</a>

                                        </h4>
                                    {% else %}

                                        <h4>
                                            <a href="{% url 'video' entry.id.text|getid %}">{{ entry.media.title.text }}</a>

                                        </h4>

                                    {% endif %}



                                    <ul class="list-unstyled list-inline">

                                        <li><span class="glyphicon glyphicon-eye-open"
                                                  aria-hidden="true"></span> {{ entry.statistics.view_count|intcomma }}
                                        </li>
                                        <li><span class="glyphicon glyphicon-calendar"
                                                  aria-hidden="true"></span> {{ entry.published.text|getdate|naturaltime }}
                                        </li>

                                    </ul>
                                    <p>{{ entry.media.description.text }}</p>

                                </div>

                            </div>
                        </div>


                    {% endfor %}
                </ul>
                <nav>
                    <div class="text-center">


                    <ul class="pagination">
                        {% for i in "xxxxxxxxxxxxxxxxxxxx" %}
                            <li {% if page == forloop.counter0|add:"1" %}class="active"{% endif %}><a
                                    href="{{ link }}&page={{ forloop.counter0|add:"1" }}">{{ forloop.counter0|add:"1" }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    </div>
                </nav>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}