{% extends 'youtube/base.html' %}
{% load extra_filters %}
{% load humanize %}
{% load staticfiles %}

{% block title %} YouPy Report Loading {% endblock %}

{% block content %}

    {% if video %}
    <div class="row">
    <h1>{{ video.title }}</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="http://www.youtube.com/embed/{{ video_id }}"></iframe>
    </div>
    <ul class="list-unstyled list-inline"><li>{{ video.rating }}</li><li>{{ video.view_count }}</li></ul>
    </div>

    {% endif %}

    {% if error %}
       <h1>{{ error.body }}</h1>
    {% endif %}

    <div id="loading"></div>



{% endblock %}

{% block script %}
    {% if video %}
        <script>
            $(document).ready(function (e) {
                // add loading image to div
                $('#loading').html('<h1 style="margin:auto; display:block; text-align:center;">Generating Report</h1><img style="margin:auto; display:block;" src=" {% static 'youtube/images/loading.GIF' %}"> ');

                // run ajax request
                $.ajax({
                    type: "GET",
                    dataType: "html",
                    url: "{% url 'prut' video_id %}",
                    success: function (d) {
                        // replace div's content with returned data
                        $('#loading').html(d);
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}